@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,700,600italic,600,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
    background-color: #f0f0f0;
    background-image: url("../assets/website-designs-06.png");
    
    font-size: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat";
    
}

li {
    font-size: 1.4em;
    font-family: "Source Sans Pro";
    text-transform: uppercase;
}

p {
    font-family: "Source Sans Pro";
    font-size: 1.6em;
}

.bold {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

.panel-body {
    padding: 30px;
}

.line-height-large {
    line-height: 130%
}
.no-top-padding{
    padding-top: 5px;
    padding-left: 7%;
    padding-right:7%;
}

#myNavbar {
    position: relative;
}

.navbar-header {
    position: relative;
    z-index: 1000;
}

#logo {
	height:110px;
	margin:19px 0px 0px 0px;
}

#hamburger {
	position: absolute; 
    bottom: 2px; 
    right:0;
}

.flat-panel {
    background-color: white;
    margin-bottom: 20px;
}

.orange-light {
    background-color: #ffbb43;
    border-color: #ffbb43;
    color: #845209;
}

.orange-light p {
    color: white;
}

.orange-dark {
    background-color: #a86f13;
    border-color: #a86f13;
    color: #ffbc50;
}

.orange-dark p {
    color: white;
}

.green-light {
    background-color: #51e558;
    border-color: #51e558;
    color: #2a7a1f;
}

.green-dark {
    background-color: #2a7a1f;
    border-color: #2a7a1f;
    color: white;
}

.green-dark p {
    color: #51e558;
}

.blue-light {
    background-color: #4aadff;
    border-color: #4aadff;
    color :#195daf;
}

.blue-light p {
    color : white;
}

.blue-dark {
    background-color: #195daf;
    border-color: #195daf;
    color: #78c8ff;
}

.blue-dark p {
    color: white;
}

.orange-text{
    color: #ffa300;
}

.blue-text{
    color :#195daf
}

.green-text{
    color: #00cc33;    
}
.carouselImage {
    margin: 0 auto;
    height: 100%;
}

.footer {
    margin-top: 20px;
    height: 100px;
    position:relative;
    background-color: #212121;
    color: #9d9d9d;
}

#copyright {
    position:absolute;
    bottom:0px;
    left:0px;
    padding: 12px;
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

#navbarGradient {
    height: 240px;
    position: relative;
    background: #212121; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#212121, #6e6e6e); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#212121, #6e6e6e); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#212121, #6e6e6e); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#212121, #6e6e6e); /* Standard syntax */
}

.navbar {
    position: absolute;
    width:100%;
    left:0;
    top:0;
    z-index: 2000;

}

.nav {
    background-color: #222;
    border-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #333333;
}

.contents {
    position: relative;
    margin-top: -85px;
}
/*
.box-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}
.box-shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)
}
.box-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}
.box-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}
.box-shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
}
.box-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}
*/
@media (min-width: 768px) {
    #myNavbar .nav {
    position: absolute; 
    bottom: 0; 
    right:0;
    background-color: transparent;
    border-color: transparent;
    }
}